.movieCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.cardImage {
  width: 180px;
  height: 250px;
  background: url("https://in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/the-wanted-9d-et00065270-15-11-2017-06-49-54.jpg")
    no-repeat;
  background-size: 180px 250px;
}

.ratingDiv {
  display: flex;
  flex-direction: row;
  margin-top: 179px;
  color: white;
  position: absolute;
  width: 180px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.ratingDiv img {
  width: 20px;
}

.rating {
  padding-left: 100px;
}

.rating p:nth-child(1) {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rating p:nth-child(2) {
  font-size: 13px;
  margin-top: 8px;
  font-weight: 500;
}

.dateDiv {
  position: absolute;
  margin-left: 120px;
  margin-top: 7px;
}

.date {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: #6a994e;
  border-radius: 60px;
  color: #ffffff;
}

.playButton {
  position: absolute;
  margin-top: 90px;
  margin-left: 65px;
}
.playButton img:hover {
  transform: scale(1.25);
}
.playButton img {
  width: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cardTitle {
  font-weight: 200;
  font-size: 13px;
}
