@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.Chips {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  /* background-color: rgb(39, 35, 35); */
  background-color: #141414;
  padding: 10px;
  color: #ffffff;
  align-items: center;
  font-size: 15px;
}

.Chip {
  background-color: #495057;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 3px 10px 5px 10px;
  margin: 3px;
  cursor: pointer;
  font-size: 15px;
  font-style: italic;
}

.Chip h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .Chips {
    font-size: 14px;
  }
  .Chip {
    font-size: 13px;
  }
}
